@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  min-height: 100vh;
  height: 100%;
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

#prospects {
  /* background-color: blue; */
  /* padding: 20px; */
  font-size: 90%;
}
#prospects > table {
  width: 100%;
  max-width: 100vw;
  display: table;
  /* box-sizing: border-box; */
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

#prospects td {
  white-space: nowrap; 
}



#prospects > table > tbody > tr:nth-child(even) {
  background-color: lightgray;
}

#prospects > table > thead > tr,
#prospects > table > tbody > tr {
  /* margin: 10px; */
  background-color: white;
  border: 1px solid black;
}
#prospects th,
#prospects td  {
  /* justify-content: center; */
  align-content: center;
  text-align: center;
  overflow: hidden;
  word-wrap: break-word;
  text-overflow: ellipsis;
  padding: 10px;
  border: 1px solid black;
  /* background-color: green; */
}

#prospects th {
  color: white;
  background-color: #35ab50;
}

.svg-gray {
  filter: invert(41%) sepia(3%) saturate(30%) hue-rotate(335deg) brightness(93%) contrast(86%);
}

.svg-green {
  filter: invert(61%) sepia(25%) saturate(4256%) hue-rotate(81deg) brightness(110%) contrast(128%);  
}

.svg-yellow {
  filter: invert(97%) sepia(48%) saturate(7494%) hue-rotate(357deg) brightness(104%) contrast(107%);
}

.svg-red {
  filter: invert(21%) sepia(83%) saturate(5312%) hue-rotate(10deg) brightness(95%) contrast(101%);
}

.svg-blue {
  filter: invert(73%) sepia(26%) saturate(5076%) hue-rotate(135deg) brightness(96%) contrast(101%);
}
.svg-white {
  filter: invert(100%) sepia(0%) saturate(7150%) hue-rotate(253deg) brightness(87%) contrast(137%);
}